# Ignoruokite Visual Studio konfigūraciją
.vs/
*.suo
*.user
*.userprefs
*.sln.ide
*.sln.docstates
*.filters
*.vcxproj.user

# Kompiliacijos ir laikinih failai
bin/
obj/
x64/
Debug/
Release/
*.log
*.tmp
*.exe
*.obj
*.pdb
*.ilk
*.idb
*.tlog

# Ignoruokite Git tokenus ir kitus saugumo failus
.git-token

# Ignoruokite kitus laikinuosius failus
*.bak
*.swp
*.DS_Store